<div class="card">
  <h1 class="card-header">Informasi Berita Terkini</h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Judul</th>
      <th scope="col">Isi</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @informasi_berita_terkini.each do |informasi_berita_terkini| %>
      <tr scope="row">
        <td><%= informasi_berita_terkini.judul %></td>
        <td><%= informasi_berita_terkini.isi %></td>
        <td><%= link_to fa_icon("eye"), informasi_berita_terkini %></td>
        <td><%= link_to fa_icon("pencil"), edit_informasi_berita_terkini_path(informasi_berita_terkini) %></td>
        <td><%= link_to fa_icon("trash"), informasi_berita_terkini, method: :delete, data: { confirm: 'Anda yakin?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if can? :create, @informasi_berita_terkini %>
  <%= link_to "Membuat Informasi Berita Terkini", new_informasi_berita_terkini_path, :class => "btn btn-primary" %>
<% end %>