<div class="card">
	<h1 class="card-header"><%= @informasi_berita_terkini.judul %></h1>
	<div class="card-body">
		<p>
			<strong>Isi:</strong>
			<%= @informasi_berita_terkini.isi %>
		</p>
		<p>
			<a class="btn btn-success" href="<%= @informasi_berita_terkini.lampiran %>" rel="nofollow"><%= fa_icon("cloud-download") %> Unduh</a>
		</p>
	</div>
	<div class="btn-group" role="group" aria-label="tampilkan-kembali">
  	<%= link_to 'Edit', edit_informasi_berita_terkini_path(@informasi_berita_terkini), :class => "btn btn-primary" %>
  	<%= link_to 'Kembali', informasi_berita_terkini_index_path, :class => "btn btn-secondary" %>
  </div>
</div>