<div class="card">
	<h1 class="card-header"><%= @informasi_berita_terkini.judul %></h1>
	<div class="card-body">
		<p>
			<strong>Isi:</strong>
			<%= @informasi_berita_terkini.isi %>
		</p>
		<% if @informasi_berita_terkini.lampiran == "" %>
		<% else %>
		<p>
			<a class="btn btn-success" href="https://drive.google.com/file/d/<%= @informasi_berita_terkini.lampiran %>/preview" target="_blank"><%= fa_icon("external-link") %> Buka lampiran di tab baru</a>
		</p>
		<% end %>
	</div>
	<div class="btn-group" role="group" aria-label="tampilkan-kembali">
  	<%= link_to 'Edit', edit_informasi_berita_terkini_path(@informasi_berita_terkini), :class => "btn btn-primary" %>
  	<%= link_to 'Kembali', informasi_berita_terkini_index_path, :class => "btn btn-secondary" %>
  </div>
</div>