<p id="notice"><%= notice %></p>

<p>
  <strong>Bulan:</strong>
  <%= @laporan_penyuluh_agama_katolik.bulan %>
</p>

<p>
  <strong>Tahun:</strong>
  <%= @laporan_penyuluh_agama_katolik.tahun %>
</p>

<p>
  <strong>Tautan:</strong>
  <%= @laporan_penyuluh_agama_katolik.tautan %>
</p>

<p>
  <strong>Nama penyuluh:</strong>
  <%= @laporan_penyuluh_agama_katolik.nama_penyuluh %>
</p>

<%= link_to 'Edit', edit_laporan_penyuluh_agama_katolik_path(@laporan_penyuluh_agama_katolik) %> |
<%= link_to 'Back', laporan_penyuluh_agama_katolik_index_path %>
