<p id="notice"><%= notice %></p>

<h1>Fungsi</h1>

<table>
  <thead>
    <tr>
      <th>Nama</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fungsi.each do |fungsi| %>
      <tr>
        <td><%= fungsi.nama %></td>
        <td><%= link_to 'Show', fungsi %></td>
        <td><%= link_to 'Edit', edit_fungsi_path(fungsi) %></td>
        <td><%= link_to 'Destroy', fungsi, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fungsi', new_fungsi_path %>
