<%= bootstrap_form_for(@laporan_kinerja_pegawai_bimkat_sumteng, local: true) do |form| %>
  <div class="card-body">
    <div class="field">
      <%= form.text_field :judul %>
    </div>
    <div class="field">
      <%= form.text_field :tautan %>
    </div>
    <div class="field">
      <%= form.text_field :nama_pegawai %>
    </div>
    <div class="actions">
      <%= form.submit "Membuat Laporan Kinerja Pegawai Bimkat Sumteng", class: "btn btn-success" %>
    </div>
  </div>
<% end %>
