<%= form_with(model: fungsi, local: true) do |form| %>
  <% if fungsi.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fungsi.errors.count, "error") %> prohibited this fungsi from being saved:</h2>

      <ul>
      <% fungsi.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nama %>
    <%= form.text_field :nama %>
  </div>

  <div class="field">
    <%= form.label :string %>
    <%= form.text_field :string %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
