<p id="notice"><%= notice %></p>

<p>
  <strong>Nama:</strong>
  <%= @fungsi.nama %>
</p>

<p>
  <strong>String:</strong>
  <%= @fungsi.string %>
</p>

<%= link_to 'Edit', edit_fungsi_path(@fungsi) %> |
<%= link_to 'Back', fungsis_path %>
