<div class="card">
	<h1 class="card-header"><%= @data_pendidikan_agama_katolik.judul %></h1>
	<div class="card-body">
		<p>
			<iframe src="https://drive.google.com/file/d/<%= @data_pendidikan_agama_katolik.tautan %>/preview" style="width:1004px; height:787px;" frameborder="0"></iframe>
			<a class="btn btn-success" href="https://drive.google.com/uc?authuser=0&id=<%= @data_pendidikan_agama_katolik.tautan %>&export=download" rel="nofollow"><%= fa_icon("cloud-download") %> <%= @data_pendidikan_agama_katolik.judul %></a>
		</p>
	</div>
	<div class="btn-group" role="group" aria-label="tampilkan-kembali">
  	<%= link_to 'Edit', edit_data_pendidikan_agama_katolik_path(@data_pendidikan_agama_katolik), :class => "btn btn-primary" %>
  	<%= link_to 'Kembali', data_pendidikan_agama_katolik_index_path, :class => "btn btn-secondary" %>
  </div>
</div>