<p id="notice"><%= notice %></p>

<p>
  <strong>Tautan:</strong>
  <%= @laporan_guru_agama_katolik.tautan %>
</p>

<p>
  <strong>Nama guru:</strong>
  <%= @laporan_guru_agama_katolik.nama_guru %>
</p>

<p>
  <strong>Judul:</strong>
  <%= @laporan_guru_agama_katolik.judul %>
</p>

<p>
  <strong>Pemakai:</strong>
  <%= @laporan_guru_agama_katolik.pemakai %>
</p>

<%= link_to 'Edit', edit_laporan_guru_agama_katolik_path(@laporan_guru_agama_katolik) %> |
<%= link_to 'Back', laporan_guru_agama_katolik_index_path %>
