<%= bootstrap_form_for(@galeri_foto, local: true) do |form| %>
  <div class="card-body">
    <div class="field">
      <%= form.text_field :judul %>
    </div>
    <div class="field">
      <%= form.text_area :keterangan %>
    </div>
    <div class="field">
      <%= form.text_field :berkas %>
    </div>
    <div class="actions">
      <%= form.submit "Membuat Galeri Foto", class: "btn btn-success" %>
    </div>
  </div>
<% end %>
