<div class="card">
  <h1 class="card-header">Galeri Foto</h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Judul</th>
      <th scope="col">Keterangan</th>
      <th scope="col">Berkas</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
  <% @galeri_foto.each do |galeri_foto| %>
    <tr scope="row">
      <td><%= galeri_foto.judul %></td>
      <td><%= galeri_foto.keterangan %></td>
      <td><%= truncate(galeri_foto.berkas) %></td>
      <td><%= link_to fa_icon("eye"), galeri_foto %></td>
      <td><%= link_to fa_icon("pencil"), edit_galeri_foto_path(galeri_foto) %></td>
      <td><%= link_to fa_icon("trash"), galeri_foto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Galeri Foto', new_galeri_foto_path %>
