<h1 class="card-header"><%= @galeri_foto.judul %></h1>

<div class="card-body">
	<p>
	  <strong>Keterangan:</strong>
	  <%= @galeri_foto.keterangan %>
	</p>

	<p>
	  <strong>Berkas:</strong>
	  <%= @galeri_foto.berkas %>
	</p>
</div>

<%= link_to 'Edit', edit_galeri_foto_path(@galeri_foto) %> |
<%= link_to 'Back', galeri_foto_index_path %>
