<h1>Galeri Video</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Judul</th>
      <th scope="col">Keterangan</th>
      <th scope="col">Berkas</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
  <% @galeri_video.each do |galeri_video| %>
    <tr scope="row">
      <td><%= galeri_video.judul %></td>
      <td><%= galeri_video.keterangan %></td>
      <td><%= truncate(galeri_video.berkas) %></td>
      <td><%= link_to fa_icon("eye"), galeri_video %></td>
      <td><%= link_to fa_icon("pencil"), edit_galeri_video_path(galeri_video) %></td>
      <td><%= link_to fa_icon("trash"), galeri_video, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Galeri Video', new_galeri_video_path %>
