<div class="card">
	<h1 class="card-header"><%= @galeri_video.judul %></h1>
	<div class="card-body">
		<p>
			<strong>Keterangan:</strong>
			<%= @galeri_video.keterangan %>
		</p>
		<p>
			<strong>Berkas:</strong>
			<%= @galeri_video.berkas %>
		</p>
		<%= link_to 'Edit', edit_galeri_video_path(@galeri_video), :class => "btn btn-primary" %>
		<%= link_to 'Kembali', galeri_video_index_path, :class => "btn btn-primary" %>
	</div>
</div>
